<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- define a context initialization parameter -->
    <context-param>
        <param-name>custServEmail</param-name>
        <param-value>m_julia1@yahoo.com</param-value>
    </context-param>
    <!-- servlet definitions (alphabetical by complete class name) -->
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>music.cart.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>music.user.order.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayInvoiceServlet</servlet-name>
        <servlet-class>music.user.order.DisplayInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserCartServlet</servlet-name>
        <servlet-class>music.user.order.DisplayUserCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayQuickOrderServlet</servlet-name>
        <servlet-class>music.cart.DisplayQuickOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>music.catalog.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductServlet</servlet-name>
        <servlet-class>music.catalog.DisplayProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToEmailListServlet</servlet-name>
        <servlet-class>music.email.AddToEmailListServlet</servlet-class>
    </servlet>
    <!-- servlet mappings -->

    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/cart/displayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/user/order/completeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayQuickOrderServlet</servlet-name>
        <url-pattern>/cart/displayQuickOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayQuickOrderServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayInvoiceServlet</servlet-name>
        <url-pattern>/user/order/displayInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserCartServlet</servlet-name>
        <url-pattern>/user/order/displayUserCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/validation/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductServlet</servlet-name>
        <url-pattern>/catalog/displayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToEmailListServlet</servlet-name>
        <url-pattern>/email/addToEmailList</url-pattern>
    </servlet-mapping>
    <!-- Product Maintanence-->
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>music.admin.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet1</servlet-name>
        <servlet-class>job.UpdateProductServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>job.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>job.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet1</servlet-name>
        <servlet-class>music.admin.DeleteProductServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>music.admin.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/productMain4/displayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/productMain4/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet1</servlet-name>
        <url-pattern>/productMain4/updateProduct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/productMain4/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet1</servlet-name>
        <url-pattern>/productMain4/deleteProduct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/productMain4/addProduct</url-pattern>
    </servlet-mapping>
    <!-- Validate User -->
    <servlet>
        <servlet-name>LoginStatusServlet</servlet-name>
        <servlet-class>music.validation.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStatusServlet</servlet-name>
        <url-pattern>/validat/loginStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateUserServlet</servlet-name>
        <servlet-class>music.user.validation.ValidateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateUserServlet</servlet-name>
        <url-pattern>/user/validation/validateUser</url-pattern>
    </servlet-mapping>
    <!--    User Account-->
    <servlet>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <servlet-class>music.user.account.UpdateUserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <url-pattern>/user/account/updateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserPasswordServlet</servlet-name>
        <servlet-class>music.user.account.UpdateUserPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserPasswordServlet</servlet-name>
        <url-pattern>/user/account/updateUserPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayAccountServlet</servlet-name>
        <servlet-class>music.user.account.DisplayAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayAccountServlet</servlet-name>
        <url-pattern>/user/account/displayAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayAccountPasswordServlet</servlet-name>
        <servlet-class>music.user.account.DisplayAccountPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayAccountPasswordServlet</servlet-name>
        <url-pattern>/user/account/displayAccountPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayAccountDetailsServlet</servlet-name>
        <servlet-class>music.user.account.DisplayAccountDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayAccountDetailsServlet</servlet-name>
        <url-pattern>/user/account/displayAccountDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayUserConfirmationServlet</servlet-name>
        <servlet-class>music.registration.DisplayUserConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayUserConfirmationServlet</servlet-name>
        <url-pattern>/registration/displayUserConfirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessUserServlet</servlet-name>
        <servlet-class>music.registration.ProcessUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessUserServlet</servlet-name>
        <url-pattern>/registration/processUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayUserRegistrationServlet</servlet-name>
        <servlet-class>music.registration.DisplayUserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayUserRegistrationServlet</servlet-name>
        <url-pattern>/registration/displayUserRegistration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContinueUserServlet</servlet-name>
        <servlet-class>music.registration.ContinueUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContinueUserServlet</servlet-name>
        <url-pattern>/registration/continueUser</url-pattern>
    </servlet-mapping>
    <!-- Login-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>music.validation.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/validation/login</url-pattern>
    </servlet-mapping>
    <!--Review-->
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>music.user.review.AddReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/user/review/addReview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayReviewServlet</servlet-name>
        <servlet-class>music.user.review.DisplayReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayReviewServlet</servlet-name>
        <url-pattern>/user/review/displayReview</url-pattern>
    </servlet-mapping>
    <!-- Partners -->
    <servlet>
        <servlet-name>DisplayPartnersServlet</servlet-name>
        <servlet-class>partners.DisplayPartnersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayPartnersServlet</servlet-name>
        <url-pattern>/partners</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayPartnerLetterServlet</servlet-name>
        <servlet-class>partners.DisplayPartnerLetterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayPartnerLetterServlet</servlet-name>
        <url-pattern>/partners/displayParnerLetter</url-pattern>
    </servlet-mapping>
    <!--    Password Recovery-->
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>music.validation.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/validation/passwordRecovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayPasswordRecoveryServlet</servlet-name>
        <servlet-class>music.validation.DisplayPasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayPasswordRecoveryServlet</servlet-name>
        <url-pattern>/validation/displayPasswordRecovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SecurityInformationServlet</servlet-name>
        <servlet-class>music.validation.SecurityInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecurityInformationServlet</servlet-name>
        <url-pattern>/validation/securityInformation</url-pattern>
    </servlet-mapping>
    <!--Ajax-->
    <servlet>
        <servlet-name>SetQuantityServlet</servlet-name>
        <servlet-class>music.cart.SetQuantityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetQuantityServlet</servlet-name>
        <url-pattern>/cart/setQuantity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>music.cart.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/cart/removeCartItem</url-pattern>
    </servlet-mapping>
    <!--    DOM-XSS-->
    <servlet>
        <servlet-name>DisplayEmailListServlet</servlet-name>
        <servlet-class>music.email.DisplayEmailListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayEmailListServlet</servlet-name>
        <url-pattern>/email/displayEmailList</url-pattern>
    </servlet-mapping>
    <!-- define a servlet context listener -->
    <listener>
        <listener-class>
            music.util.MusicStoreContextListener
        </listener-class>
    </listener>
    <!-- define the welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- Enable the custom error pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/error/error_403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error_java.jsp</location>
    </error-page>
    <!-- Define security roles -->
    <security-role>
        <description>Customers</description>
        <role-name>user</role-name>
    </security-role>
    <!-- Restrict access to the URLs in the logged in user directory -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Validate</web-resource-name>
            <url-pattern>/user/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <!-- Authorize the service and programmer roles -->
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Use form-based authentication to provide access -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/validation/login.jsp</form-login-page>
            <form-error-page>/validation/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Use basic authentication to provide access -->
</web-app>
